@layer layouts {
    .l-switcher {
        display: flex;
        flex-wrap: wrap;
        --l-switcher-threshold: 50rem;
        --l-switcher-modifier: calc(var(--l-switcher-threshold) - 100%);
        gap: var(--l-switcher-gap, var(--l-space, var(--space-m)));
    }

    .l-switcher>* {
        flex-grow: 1;
        flex-basis: calc(var(--l-switcher-modifier) * 999);
    }

    .l-prose {
        display: block;

        &>* {
            margin-top: 1em;
            margin-bottom: 0;
        }

        &> :first-child {
            margin-top: 0;
        }
    }

    .l-row {
        display: flex;
        flex-wrap: wrap;
        gap: var(--l-space, var(--space-xs));
    }

    .l-prose {
        display: block;

        &>* {
            margin-top: 1em;
            margin-bottom: 0;
        }

        &> :first-child {
            margin-top: 0;
        }
    }

    .l-cluster-r,
    .l-cluster-l {
        display: flex;
        flex-wrap: wrap;
        gap: var(--l-space, var(--space-xs));
    }

    .l-cluster-r {
        justify-content: end;
    }

    .l-cluster-l {
        justify-content: start;
    }

    .l-column {
        display: flex;
        gap: var(--l-space, var(--space-xs));
        flex-direction: column;
        align-items: stretch;
    }

    //Space utilites
    .l-space-none {
        --l-space: 0;
    }

    .l-space-3xs {
        --l-space: var(--space-3xs);
    }

    .l-space-2xs {
        --l-space: var(--space-2xs);
    }

    .l-space-xs {
        --l-space: var(--space-xs);
    }

    .l-space-s {
        --l-space: var(--space-s);
    }

    .l-space-m {
        --l-space: var(--space-m);
    }

    .l-space-l {
        --l-space: var(--space-l);
    }

    .l-space-xl {
        --l-space: var(--space-xl);
    }

    .l-space-3xl {
        --l-space: var(--space-3xl);
    }

    .l-space-3xs-2xs {
        --l-space: var(--space-3xs-2xs);
    }

    .l-space-2xs-xs {
        --l-space: var(--space-2xs-xs);
    }

    .l-space-xs-s {
        --l-space: var(--space-xs-s);
    }

    .l-space-s-m {
        --l-space: var(--space-s-m);
    }

    .l-space-m-l {
        --l-space: var(--space-m-l);
    }

    .l-space-l-xl {
        --l-space: var(--space-l-xl);
    }

    .l-space-xl-2xl {
        --l-space: var(--space-xl-2xl);
    }

    .l-space-2xl-3xl {
        --l-space: var(--space-2xl-3xl);
    }

    .l-space-m-l {
        --l-space: var(--space-m-l);
    }

    .l-space-m-l {
        --l-space: var(--space-m-l);
    }

    .l-space-m-l {
        --l-space: var(--space-m-l);
    }
}