---
import "@styles/styles.scss";
import "@styles/theme.scss";
import "@styles/base.scss";
import "@styles/layouts.scss";
import "@styles/utilities.scss";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script>
	import logCommitHash from "lib/utils/logCommitHash";
	// This makes it easy to see which version of the site is being served
	logCommitHash();
</script>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
